body{
    font-family: 'Jua', sans-serif;
    background-color:#0d253f;
}

#jumbotron{
    margin-top: 30px;
    text-align: center;
}
#movieList:first-child{display: none;}

.btn-success{width: 100%;}